db.sqlite3
.envrc
__pycache__/
.DS_Store
.pyc
envrc-*
venv
.ruff_cache
dist
build
*.egg-info

js/node_modules

# Rust build artifacts
rust/target/
go/go
java/target/
swift/.build/
csharp/**/bin/
csharp/**/obj/
csharp/tmp*/
java/lib/*.jar
